<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Discontapp</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>discountapp</string>
				<string>br.bredi.discountapp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.729042460039-94o2afcsqiosc4nuddq3b067pt9upda4</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>12.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>O Discontapp precisa acessar sua câmera para tirar fotos de produtos, documentos ou comprovantes. Por exemplo, você pode usar a câmera para fotografar produtos que deseja cadastrar ou comprovantes de compra para validar ofertas.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>O Discontapp precisa da sua localização para encontrar estabelecimentos e ofertas próximos a você. Por exemplo, quando você busca por descontos, o app usa sua localização para mostrar lojas e promoções na sua região, permitindo que você encontre as melhores ofertas perto de onde você está.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>O Discontapp precisa da sua localização para encontrar estabelecimentos e ofertas próximos a você. Por exemplo, quando você busca por descontos, o app usa sua localização para mostrar lojas e promoções na sua região, permitindo que você encontre as melhores ofertas perto de onde você está.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>O Discontapp precisa da sua localização para encontrar estabelecimentos e ofertas próximos a você. Por exemplo, quando você busca por descontos, o app usa sua localização para mostrar lojas e promoções na sua região, permitindo que você encontre as melhores ofertas perto de onde você está.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>O Discontapp precisa acessar sua galeria de fotos para selecionar imagens de produtos, documentos ou comprovantes. Por exemplo, você pode escolher fotos da sua galeria para cadastrar produtos ou enviar comprovantes de compra para validar ofertas.</string>
	<key>RCTNewArchEnabled</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>SplashScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
